<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://tm.ibxk.com.br//2022/06/22/22135938033250.jpg?ims=1200x675"
      alt="Imagem"
      height="200px"
    />
  </div>
  <div class="big-card__title">
    <h1>
      <a
        href="https://www.espn.com.br/futebol/brasileirao/artigo/_/id/15557568/vasco-enfia-6-x-0-humilha-santos-maneira-historica-cavadinha-absurda-coutinho"
        target="_blank"
        >Vasco mandou um 6 x 0 no Santos kkkkkk</a
      >
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      A noite de ontem não foi marcada somente pela goleada histórica do Vasco,
      6 a 0 sobre o Santos, com belíssima atuação do time vascaíno. Recebemos a
      informação de que o AS Monaco enviou alguns olheiros para observar Rayan
      em ação contra o Santos.
    </p>
  </div>
</div>
